body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Tahoma, sans-serif;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.box {
    width: 100px;
    height: 100px;
    font-size: 40px;
    text-align: center;
    border-top: 1px solid #687291;
    box-sizing: border-box;
}

.box:nth-child(odd) {
    background-color: #dfe1e7;
}

.box:nth-child(even) {
    background-color: #eeeff2;
}

.box:last-child {
    background-color: #687291;
    border: 4px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
